@use "./../abstract/colors"as c;

.card__props {
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 color: c.$Grayish-Blue;

 @media(min-width: 576px) {
  & {
   flex-direction: row;
  }
 }

 .card__props__list {
  img {
   margin-right: .5rem
  }
 }

 .card__props--button {
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-size: .8rem;
  border: none;
  border-radius: 1rem;
  color: c.$Grayish-Blue;
  background-color: c.$Dark-Desaturated-Blue;
  transition: color .3s ease-in-out;
  cursor: pointer;

  @media(min-width: 576px) {
   & {
    margin: 0
   }
  }

  &:hover {
   color: c.$White;
  }
 }
}