@use "./../abstract/colors"as c;

.card {
 padding: 1rem;
 width: 80%;
 max-width: 425px;
 background-color: c.$White;
 border-radius: .4rem;
 box-shadow: 0 0 1px 1px c.$Light-Grayish-Blue;

 @media(min-width: 576px) {
  & {
   padding: 2rem;
  }
 }

 .card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: c.$Grayish-Blue;
  font-size: .6rem;

  @media(min-width: 576px) {
   & {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: .7rem;
   }
  }

  .card__header__title {
   letter-spacing: 3px;
  }

  .card__header--range {
   appearance: none;
   appearance: none;
   margin: 1.5rem 0;
   width: 100%;
   height: .6rem;
   background-color: c.$Strong-Cyan;
   border-radius: 4rem;
   cursor: pointer;

   @media(min-width: 576px) {
    & {
     order: 3;
    }
   }

   &::-webkit-slider-thumb {
    appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: c.$Strong-Cyan;
    background-image: url('./../images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
   }

   &::-moz-silider-thumb {
    appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: c.$Strong-Cyan;
    background-image: url('./../images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
   }

   &::-o-slider-thumb {
    appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: c.$Strong-Cyan;
    background-image: url('./../images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
   }

   &::slider-thumb {
    appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: c.$Strong-Cyan;
    background-image: url('./../images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
   }
  }

  .card__header__stat {
   display: flex;
   align-items: center;

   span {
    color: c.$Dark-Desaturated-Blue;
    font-size: 2rem;
    font-weight: bold;
   }
  }
 }
}