@use "./../abstract/colors"as c;

body {
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
 background-color: c.$Very-Pale-Blue;
}